/* Decent Defaults */

img,
video {
  width: 200;
  height: 300;
}
/* Share Styles (Apply On All Sizes) */
.flex {
  display: flex;
  gap: 1rem;
}

div.content {
  width: 175px;
  position: relative;
  left: 775px;
}

.hero {
  font-size: 150%;
  text-align: center;
  padding: 1rem;
  background-color: lightgray;
}

.Search-button {
  width: 15%;
  height: 15%;
  position: relative;
  left: 90px;
  top: 10px;
  border: 1px solid black;
}

.Hamburger-button {
  width: 15%;
  height: 15%;
  position: relative;
  left: 127px;
  top: -11px;
  border: 1px solid black;
}

a:hover {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

.h1 {
  font-size: 33%;
  position: relative;
  left: -35px;
  top: -40px;
}

.header-image {
  width: 90%;
  height: 90%;
  position: relative;
  left: 8px;
  top: -20px;
}

.paragraph {
  text-align: left;
  font-size: 33%;
}

.introduction {
  text-align: left;
  font-size: 50%;
  position: relative;
  top: -20px;
}

.paragraph-lebron {
  padding-left: 20rem;
  padding-right: 50rem;
  text-align: left;
  position: relative;
  top: 60px;
}

.lebron-image {
  width: 65%;
  height: 65%;
  position: relative;
  left: 25px;
  top: 20px;
}

.paragraph-ballmer {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
  position: relative;
  top: -50px;
}

.paragraph-NBA {
  padding-left: 20rem;
  padding-right: 50rem;
  text-align: left;
}

.NBA-image {
  width: 65%;
  height: 65%;
  position: relative;
  left: 25px;
  top: 20px;
  border: 1px solid black;
}

.paragraph-Clippers {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
  position: relative;
  top: -220px;
}

.paragraph-IRS {
  text-align: left;
  position: relative;
  top: 15px;
  font-size: 33%;
  padding-bottom: 1rem;
}

.paragraph-link {
  color: #2200cc;
}

footer {
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 5px;
  padding-bottom: 1rem;
}

.Subscribe-image {
  width: 40%;
  height: 40%;
  position: relative;
  top: 10px;
  left: -10px;
  border: 1px solid black;
}

.Socials-image {
  width: 40%;
  height: 40%;
  position: relative;
  top: -3px;
  left: 95px;
  border: 1px solid black;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
