/* Decent Defaults */

img,
video {
  width: 200;
  height: 300;
}
/* Share Styles (Apply On All Sizes) */
.flex {
  display: flex;
  gap: 1rem;
}

.hero {
  font-size: 150%;
  text-align: center;
  padding: 1rem;
  background-color: lightgray;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.Search-button {
  width: 5%;
  height: 5%;
  position: relative;
  left: 1500px;
  border: 2px solid black;
}

.menus {
  padding: 4rem;
  align-content: center;
}

.bobblehead-image {
  border: 2px solid black;
  width: 70%;
  height: 70%;
  position: relative;
  left: 250px;
}

.Image-caption {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
  font-size: 85%;
}

.paragraph {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
}

.Sports-Owners-vs-Athletes {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
}

.baseball-image {
  width: 50%;
  height: 50%;
  position: relative;
  left: 375px;
}

.paragraph-link {
  color: #2200cc;
}

.paragraph-baseball {
  padding-left: 20rem;
  padding-right: 50rem;
  text-align: left;
}

.concessions-image {
  width: 30%;
  height: 30%;
  position: relative;
  left: 830px;
  top: -400px;
}

.paragraph-billionaires {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
  position: relative;
  top: -260px;
}

.paragraph-ProPublica {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
  position: relative;
  top: -210px;
}

.paragraph-Steve {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
  position: relative;
  top: -150px;
}

.basketball-money {
  width: 50%;
  height: 50%;
  position: relative;
  left: 375px;
  top: -150px;
}

.Staples-Center {
  width: 40%;
  height: 40%;
  position: relative;
  left: 460px;
  top: -100px;
}

footer {
  text-align: center;
  position: relative;
  top: 150px;
  font-size: 75%;
  padding-bottom: 10rem;
}

.Socials-image {
  width: 25%;
  height: 25%;
  position: relative;
  top: -100px;
  left: 1100px;
  border: 2px solid black;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
