/* Decent Defaults */

img,
video {
  width: 200;
  height: 300;
}
/* Share Styles (Apply On All Sizes) */
.flex {
  display: flex;
  gap: 1rem;
}

div.content {
  width: 175px;
  position: relative;
  left: 775px;
}

.hero {
  font-size: 150%;
  text-align: center;
  padding: 1rem;
  background-color: lightgray;
}

.Search-button {
  width: 15%;
  height: 15%;
  position: relative;
  left: 90px;
  top: 10px;
  border: 1px solid black;
}

.Hamburger-button {
  width: 15%;
  height: 15%;
  position: relative;
  left: 127px;
  top: -11px;
  border: 1px solid black;
}

a:hover {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

.h1 {
  font-size: 33%;
  position: relative;
  left: -35px;
  top: -40px;
}

.value-image {
  border: 1px solid black;
  width: 90%;
  height: 90%;
  position: relative;
  left: 7px;
  top: -25px;
}

.Image-caption {
  text-align: left;
  font-size: 25%;
  position: relative;
  top: -20px;
}

.paragraph {
  text-align: left;
  font-size: 33%;
}

.Increased-Value-Of-Leagues {
  text-align: left;
  font-size: 47%;
}

.paragraph-link {
  color: #2200cc;
}

.football-field {
  width: 90%;
  height: 90%;
  position: relative;
  left: 7px;
  top: -10px;
}

.paragraph-Golden {
  padding-left: 20rem;
  padding-right: 50rem;
  text-align: left;
}

.hockey-arena {
  width: 90%;
  height: 90%;
  position: relative;
  left: 7px;
  top: -20px;
}

.paragraph-Knights {
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: left;
  position: relative;
  top: -220px;
}

.One-on-One {
  width: 90%;
  height: 90%;
  position: relative;
  left: 7px;
  top: -20px;
}

footer {
  text-align: left;
  position: relative;
  top: 20px;
  font-size: 5px;
  padding-bottom: 1rem;
}

.Socials-image {
  width: 40%;
  height: 40%;
  position: relative;
  top: -5px;
  left: 95px;
  border: 1px solid black;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
